body {
  text-align: center;
  margin-top: 50px;
  color: #7AEDFC;
  text-shadow: -1px -1px #1B08BA;
  background-color: #7AEDFC;
  font-family: serif;
}

.blue {
  background-color: #7AEDFC;
}

.yellow {
  background-color: #FBFF05;
}

.red {
  background-color: #FF0505;
}

h1 {
  font-family: Georgia, serif;
  color: #1B08BA;
  text-shadow: -1px -1px #1B08BA;
}

h2 {
  margin: 0;
}

#board {
  margin: auto;
  height: 390px;
  width: 390px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

td {
  height: 130px;
  width: 130px;
  border: 2px solid #1B08BA;
  text-align: center;
  background-color: #1F81FF;
}

#clock {
  width: 100px;
  padding: 3px;
  border: 2px solid #1B08BA;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1F81FF;
}

button {
  width: 45px;
  background-color: #7AEDFC;
}

.X:before {
  font-family: monospace, serif;
  font-size: 240%;
  content: 'X';
}

.O:before {
  font-family: monospace, serif;
  font-size: 240%;
  content: 'O';
}
