body {
  text-align: center;
  color: #7AEDFC;
  text-shadow: 1px 1px #1B08BA;
  background-color: #7AEDFC;
  font-family: serif;
}

div.game-container {
  width: 500px;
  height: 500px;
  margin: auto;
}

.blue {
  background-color: #7AEDFC;
}

.yellow {
  background-color: #FBFF05;
}

.red {
  background-color: #FF0505;
}

h1 {
  font-family: Georgia, serif;
  color: #1F56FF;
  text-shadow: 1px 1px black;
}

h2 {
  margin: 0;
}

#board {
  margin: auto;
  height: 80%; /* 400px */
  width: 80%;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

td {
  height: 33.333333%;
  width: 33.333333%;
  border: 3px solid #1B08BA;
  text-align: center;
  background-color: #1F81FF;
}

#clock {
  width: 20%; /* 100px */
  padding: 3px;
  border: 3px solid #1B08BA;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1F81FF;
}

button {
  width: 45%;
  border: 1.2px solid #1B08BA;
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  color: #7AEDFC;
  background-color: #1B08BA;
  background: -webkit-linear-gradient(#1F81FF, #1B08BA);
  background: linear-gradient(#1F81FF, #1B08BA);
  border-radius: 3px;
  cursor: pointer;
}

.X:before {
  font-family: monospace, serif;
  font-size: 240%;
  content: 'X';
}

.O:before {
  font-family: monospace, serif;
  font-size: 240%;
  content: 'O';
}

@media (max-width: 510px) {
  div.game-container {
    height: 300px;
    width: 300px;
  }
  #clock {
    width: 65%;
  }
  button {
    margin: auto;
    display: block;
    width: 100%;
    font-size: .55em;
  }

}
