body {
  text-align: center;
  margin-top: 50px;
  color: #7AEDFC;
  text-shadow: -1px -1px #1B08BA;
  background-color: #7AEDFC;
}

h1 {
  font-family: monospace;
  color: #1B08BA;
  text-shadow: none;
}

#board {
  margin: auto;
  height: 390px;
  width: 390px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

td {
  height: 130px;
  width: 130px;
  border: 2px solid #1B08BA;
  text-align: center;
  background-color: #1F81FF;
}

.X:before {
  font-family: monospace;
  font-size: 200%;
  content: 'X';
}

.O:before {
  font-family: monospace;
  font-size: 200%;
  content: 'O';
}
